.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #e89f71;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #006a71;
}

p {
  font-size: 2rem;
  color: #df5e88;
  font-family: 'Lobster Two', cursive;
  letter-spacing: 1.5px;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Lobster Two', cursive;
  font-size: 1.5rem;
  letter-spacing: 2px;
}
